/** 
 * FILENAME:    pomodoro-css.css
 * DESCRIPTION: This is the css for codyschindler.com/fcc/pomodoro.
 * REQS:        Bootstrap (CSS & JS)
 * VERISON:     1.0.0
 * UPDATED:     2015-10-27
 * WRITTEN BY:  Cody Schindler (quiksand)
 * ORGANIZATION: n/a
 * CHANGELOG:  
 * 1.0.0 (2015-10-27): Creation
**/

html,
body {
	color: #f8f8f8;
	background-color: rgb(35,35,35);
}

.break-time {}
.break-plus {}
.break-minus {}
.session-time {}
.session-plus {}
.session-minus {}
.counter {}
.counter-label {}

.container {}

h1 {
	font-size: 4em;
}

.row {
	text-align: center;
}



.pomorow {}

.clock-outer {
	background-color: transparent;
	border: 3px solid #00AAA0;
	height: 306px;
	width: 306px;
	border-radius: 50%;
	position: relative;
	margin: auto;
	overflow: hidden;

}

.clock-inner {
	border: 4px solid rgb(35,35,35);
	background-color: transparent;
	height: 300px;
	width: 300px;
	border-radius: 50%;
	position: absolute;
	z-index: 2;

}

.cont {
	margin: auto;
	border: 1px dashed orange;
}
.countdown {
	margin: auto;
	display: inline;
	border: 1px dashed orange;
	font-size: 4em;
	color: #FF7A5A;
}

.sand {
	height: 200px;
	width: 306px;
	background-color: #00AAA0;
	padding: 0;
	margin: 0;
	position: absolute;
	bottom: 3px;
	z-index: 1;
}

.time {
	/*position: absolute;*/
	display: inline-block;
	/*bottom: 0;*/
	font-size: 3em;
	width: 1.75em;
	border: 1px solid green;
	padding:0;
}

.timehead {
	/*position: absolute;*/
	/*top: 0;*/
	display: block;
	font-size: 1.25em;
	border: 1px solid gray;
}

.arrow-left {
	display: inline-block;
	border: 1px solid orange;
	/*position: absolute;*/
	/*left: 0;*/
}

.arrow-right {
	display: inline-block;
	border: 1px solid orange;
	/*position: absolute;*/
	/*right: 0;*/
}

.adjuster {
	position: relative;
}
/*  #FF7A5A   */

.test {
	border: 1px solid red;
}

.vertical-center {
	display: flex;
	align-items: center;

}

.col-xs-3,
.col-xs-2 {
	border: 1px dashed blue;
}