/** 
 * FILENAME:    pomodoro-css.css
 * DESCRIPTION: This is the css for codyschindler.com/fcc/pomodoro.
 * REQS:        Bootstrap (CSS & JS)
 * VERISON:     1.0.0
 * UPDATED:     2015-10-27
 * WRITTEN BY:  Cody Schindler (quiksand)
 * ORGANIZATION: n/a
 * CHANGELOG:  
 * 1.0.0 (2015-10-27): Creation
**/

html,
body {
	color: #FCF4D9;
	background-color: #333333;
}

h1 {
	color: #00AAA0;
	font-size: 5em;
}

.arrow-left,
.arrow-right {
	display: inline-block;
}
.break-time {}
.break-plus {}
.break-minus {}

.center-icon {
	margin: auto;
	color: ;
}

.clock-inner {
	border: 4px solid #333333;
	background-color: transparent;
	height: 300px;
	width: 300px;
	border-radius: 50%;
	position: absolute;
	z-index: 2;
}

.clock-outer {
	background-color: transparent;
	border: 3px solid;
	border-color: #00AAA0;
	height: 306px;
	width: 306px;
	border-radius: 50%;
	position: relative;
	margin: auto;
	overflow: hidden;
	/*The css below fixes the sand breaking when there's a transition on the screen*/
	/*backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;*/    
	transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
}

.cont {
	margin: auto;
}

.countdown {
	margin: auto;d    
	display: inline;
	font-size: 4em;
	color: #FFB85F;
}

.counter {}
.counter-label {}

.fa {
	cursor: pointer;
	color: #A6CB45;
}

.fa:focus,
.fa:active{
	color: #93648D;
}

.play-pause {
	height: 292px;
	width: 292px;
	border-radius: 50%;
	position: absolute;
	z-index: 3;
	text-align: center;
}

.ref-button {
	transform: scaleX(-1) rotate(45deg);
	transition: transform .4s ease;  
}

.ref-button:hover {
	transform: scaleX(-1) rotate(225deg);   
}

.refreshlink {
	margin: auto;
}

.refreshrow {
	position: absolute;
	display: inline-block;
}

.row {
	text-align: center;
}

.sand {
	height: 0px;
	width: 306px;
	background-color: #00AAA0;
	padding: 0;
	margin: 0;
	position: absolute;
	bottom: 3px;
	z-index: 1;
}

.session-time {}
.session-plus {}
.session-minus {}

.time {
	/*position: absolute;*/
	display: inline-block;
	/*bottom: 0;*/
	font-size: 3em;
	width: 1.75em;
	padding:0;
}

.timehead {
	display: block;
	font-size: 1.25em;
}

.vertical-center {
	display: flex;
	align-items: center;
}